@font-face {
    font-family: fraunces ;
    src: url(../fonts/Fraunces.ttf);
}
*{
font-family: fraunces;
margin: 0;
padding: 0;
}

#jawshy{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/nav.jpg);
    background-size: cover;
    padding: 25px;
    border-bottom: 3px solid black;
    
    
    
}

nav, nav a{
    font-family: fraunces;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: rows;
    justify-content: center;
    gap: 50px;
    color: black;
   
}

#sun{
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background-color: #0e7cc5;
    display: block;
    border-bottom: 2px solid black;
}





.josh{
    background-image: url(../img/quote.jpg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 40px;
}
    h1{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    flex: 100%;
    padding-bottom: 50px;
    
    }

    #bio {
        display: flex;
        width: 40%;
        margin: 20px;
        text-align: center;
    }

    #quote{
      
        display: flex;
        width: 30%;
        text-align: center;
    
    }







    footer{
        background-image: url(/img/foot.jpg);
        height: 100%;
        font-size: 30px;
        display: flex;
        padding: 100px;
        justify-content: center;
        align-items: center;
        border-top: 2px solid black;
    }
    footer a{
        text-decoration: none;
        color: black;
    }
    .social{
        display: flex;
        gap: 100px;
    }

      
            