@font-face {
    font-family: fraunces;
    src: url(../../fonts/Fraunces.ttf);
}

*{
font-family: fraunces;
margin: 0;
padding: 0;
}

#jawshy{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/head.jpg);
    background-size: cover;
    padding: 25px;
    border-bottom: 3px solid black;
    
    
}

nav, nav a{
    font-family: fraunces;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: rows;
    justify-content: center;
    gap: 50px;
    color: white;
}



.inspo{
   background-image: url(../img/planets.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    text-decoration: none;
}
.inspo a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
#nymphia, #niki, #genshin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
#genshin img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    padding-bottom: 50px;
   
}

#nymbio, #nikibio, #genshinbio{
    display: flex;
    width: 50%;
    margin: auto;
}


 footer{
        background-image: url(../img/stars.jpg);
        font-size: 30px;
        display: flex;
        padding: 100px;
        justify-content: space-around;
        border-top: 2px solid black;
        background-size: cover;
        
    }
    footer a{
        text-decoration: none;
        color: white;
    }
    .social{
        display: flex;
        gap: 100px;
    }
