@font-face {
    font-family: fraunces;
    src: url(../../fonts/Fraunces.ttf);
}

*{
font-family: fraunces;
}

nav{}


h1{
    font-size: 40px;
    text-align: center;

}
h3{
    text-align: center;
    font-size: 30px;
}

.albums{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 30px;
    justify-content: space-evenly;
    text-align: center;
    width: 90%;
}
.albums img{
    width: 250px;
    height: 250px;
}

.genshin{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 30px;
    justify-content: space-evenly;
    text-align: center;
    width: 90%;
}
.genshin img{ 
    width: 250px;
    height: auto;
    

}
