@font-face {
    font-family: fraunces;
    src: url(../../fonts/Fraunces.ttf);
}

*{
font-family: fraunces;
}

h1{
    font-size: 40px;
    text-align: center;

}
h3{
    text-align: center;
    font-size: 30px;
}

.albums{
    display: flex;
    flex-direction: row;
    width: 20%;
    margin: 10px;
    justify-content: flex-start;
    list-style-type: none;

}


#covers {
    gap: 20px;
    flex-direction: row;
    justify-content: flex-start;
    width: 20%;
}
ol{display: block;
}

#captions{
    flex-direction: row;
}
