@font-face {
    font-family: fraunces;
    src: url(../../fonts/Fraunces.ttf);
}

*{
font-family: fraunces;
margin: 0;
padding: 0;
}

#jawshy{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/nav\ cloud.jpg);
    background-size: cover;
    padding: 25px;
    border-bottom: 3px solid black;
    
    
}

nav, nav a{
    font-family: fraunces;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: rows;
    justify-content: center;
    gap: 50px;
    color: black;
}


h1{
    font-size: 30px;
    text-align: center;

}

.albums{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 30px;
    justify-content: space-around;
    text-align: center;
    width: 90%;


}
.albums img{
    width: 250px;
    height: 250px;
}

.genshin{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 30px;
    justify-content: space-around;
    text-align: center;

}
.genshin img{ 
width: 250px;
}

.content{
    background-image: url(../img/body.jpg);
    background-position: center;
}


footer{
        background-image: url(../img/footer.jpg);
        height: 100%;
        font-size: 30px;
        display: flex;
        padding: 100px;
        justify-content: space-around;
        border-top: 2px solid black;
        background-size: cover;
        
    }
    footer a{
        text-decoration: none;
        color: black;
    }
    .social{
        display: flex;
        gap: 100px;
    }