@font-face {
    font-family: fraunces;
    src: url(../../fonts/Fraunces.ttf);
}

*{
font-family: fraunces;
margin: 0;
padding: 0;
}

#jawshy{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/nav\ cloud.jpg);
    background-size: cover;
    padding: 25px;
    border-bottom: 3px solid black;
    
    
}

nav, nav a{
    font-family: fraunces;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: rows;
    justify-content: center;
    gap: 50px;
    color: black;
}


h1{
    font-size: 30px;
    text-align: center;

}

.albums, .genshin{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    text-align: center;
}

#ari, #niki, #summer, #thuy, #kehlani, #gaming, #clorinde, #zibai, #furina, #ayato{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 width: 20%;
 height: 20%;
 

}


.albums img, .genshin img{
    width: 250px;
    height: 250px;
    display: inline;
}



.content{
    background-image: url(../img/body.jpg);
    background-position: cover;
    padding-bottom: 50px;
}


footer{
        background-image: url(../img/footer.jpg);
        font-size: 30px;
        padding: 100px;
        border-top: 2px solid black;
        background-size: cover;
        margin: 0;
    }
    footer a{
        text-decoration: none;
        color: black;
    }
    .social{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 10px;
    
    }